.MuiLink {

    text-decoration: none;
    color: white;
    box-shadow: inset 0 0 0 0 #DDD;
    margin: 0 -.5rem;
    padding: 0 .5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.MuiLink:hover {
    box-shadow: inset 100rem 0 0 0 #DDD;
    color: #191919;
}